<mat-card class="todo-page">
    <app-welcome 
        *ngIf="!userName?.length"
        (userNameSaved)="onUserNameSaved($event)"
    ></app-welcome>
    <div *ngIf="userName?.length">
        <mat-card-header class="flex">
            <h1>Hello {{ userName }}</h1>
            <div *ngIf="todos?.length">Your have <strong>{{todos?.length}}</strong> Todo's</div>
        </mat-card-header>
        <mat-card-content>
                <div *ngIf="!todos?.length">No todos here. You can add one</div>
                <ng-template ngFor let-todo [ngForOf]="todos">
                    <div class="todo-item">
                        <div class="content">
                            <div>{{todo.title}}</div>
                            <div class="time">{{todo.createdAtFormatted}}</div>
                        </div>
                        
                        <button mat-raised-button color="accent" (click)="deleteTodo(todo.id)">Delete</button>  
                    </div>
                    <mat-divider></mat-divider>
                </ng-template>
            
            <todo-create (todoAdded)="onTodoAdded($event)" />
        </mat-card-content>
    </div>
</mat-card>
